html 
{ 
  height: 100%;
}
body { 
height: 100%; 
margin: 0; 
padding: 0;
background: #333;
font: bold 12px Arial;
}
#styles, #add-tab {
  float: left;
  margin-top: 10px;
  width: 400px;
}
#logout {
  color: Black;
  text-decoration: none;
  margin-left: 95%;
}

#styles label,
#add-tab label {
  display: inline-block;
  width: 130px;
}

.container.overlay-disable:before {
content: '';
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(220, 220, 220, 0.6);
}
.modal-backdrop {
display: none;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: white;
opacity: 1;
filter: alpha(opacity=50);
}

.modal {
background: rgba(0,0,0,0.5);
}
.modal-dialog {
width: 100%;
margin: 30px auto;
height: 100%;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 100%;
}
.panel-info {
  border-color: #bce8f1;
  width: 50%;
  margin-left: 25%;
  margin-top:10%;
}
a {
    text-decoration: none;
  }
#map{
    width:98%;
    height:90%;
    position: absolute;
    }

       
.multiselect {
        width: 200px;
        margin-left:150px;
        z-index: 999;
        position:absolute;
        background: white;
      }
      
.selectBox {
        position: relative;
      }
      
.selectBox select {
        width: 100%;
        font-weight: bold;
      }
      
.overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      
#checkboxes {
        display: none;
        border: 1px #dadada solid;
      }
      
#checkboxes label {
        display: block;
      }
      
#checkboxes label:hover {
        background-color: #1e90ff;
      }
.panel-group 
{
        margin-bottom: 20px;
        width:220px;
        z-index: 999;
        position:absolute;
        background: white;
		cursor: pointer; 
        }
.panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: white;
		      	font: bold 18px Arial;
            
          }
.main{
      margin : 1%;
      margin-top: 0px;
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
  position: relative;
  min-height: 65px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
  background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
  background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.head-img {
  width: 100%;
}
#logoImg {
  margin-top: 10px;
}
